/* 
PARAMS :
font-family: 'Fredoka One', cursive;

*/

/* 
GENERAL
*/

#homepage {
    min-height: 30rem;
}

.fas {
    color: yellow;
}

body, .bg-dark {
    background-image: url("../images/bg.png");
    font-family: 'Fredoka One', cursive;
}

.navbar .navbar-expand-lg {
    background-color: black;
}

.text-logo a {
    padding-top: 50px;
    color: red;
    text-shadow: 2px 1px 1px yellow;
    text-decoration: none;
}

.logo-accueil {
    color: red;
    text-shadow: 2px 1px 1px yellow;
    font-size: 70px;
    text-decoration: none;
}

/* 
MENU
*/

.titre-menu {
    color: red;
    text-shadow: 2px 1px 1px black;
    text-align: center;
}

.navbar-nav {
    text-align: center;
    margin: auto 30px;
}

.nav-item:hover {
    background: white;
    border-radius: 3px;
}

.navbar-light .navbar-brand {
    font-size: 22px;
    letter-spacing: 2px;
    color: red;
    text-shadow: 2px 1px 1px yellow;
}

.navbar-light .navbar-brand:hover {
    font-size: 22px;
    letter-spacing: 2px;
    color: red;
    text-shadow: 2px 1px 1px yellow;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    letter-spacing: 1px;
    color: red;
    text-shadow: 2px 1px 1px yellow;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-size: 20px;
    letter-spacing: 1px;
    color: red;
    text-shadow: 2px 1px 1px yellow;
}

/* 
CARD
*/

.card-img-top img {
    width: 250px;
    height: 250px;
}

.button-command {
    text-align: center;
    margin-top: 15px;
}

.prix {
    font-size: 20px;
    font-weight: bold;
    width: 70px;
    text-align: center;
    background: rgb(56, 238, 56);
    box-shadow: 3px 3px 1px black;
    border-radius: 5px;
    position: absolute;
    right: -20px;
    top: 20px;
}

.description {
    text-align: center;
}

/* 
Gestion Items
*/

.select-categorie {
    text-align: center;
}

/* FORM AUTH */

#formAuth {
    margin: 50px auto;
}

#formAuth h1 {
    color: #fff;
}

#formAuth input {
    margin: 10px 0;
}

#formAuth p {
    color: #fff;
    margin: 10px 0;
}

/* MAX 400px */

@media screen and (max-width:400px) {
    #logo-accueil .fa-cutlery {
        font-size: 30px;
    }
    #logo-accueil a {
        font-size: 40px;
    }
}

/* FIN MAX 1000px */