{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Modifier un produit
{% endblock %}

{% block body %}
	<div class="container text-light">
		<h1 class="my-5 text-center">Modifier un produit</h1>
		<div class="row justify-content-center mb-5">
			<div class="col-md-6">
				{{ include('admin/product/_form.html.twig', {'button_label':'Modifier le produit'}) }}
				<img src="{{asset('images/' ~ product.image)}}" alt="" srcset="">
			</div>
		</div>
	</div>

{% endblock %}
